body {
    background: whitesmoke;
}

.square {
    /* Glass Button Size*/
    width: 500px;
    height: 250px;
    padding: 5%;
    border-radius: 25%;
    background: rgba(255, 12, 12);
}


.glass {
    /* Glass Button Size*/
    width: 500px;
    height: 250px;
    padding: 5%;
    border-radius: 25%;
    /* Glass effect */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(255, 255, 255, 0.121);


}

.parralax {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: translateZ(50px);
    box-shadow: 0 4px 30px black;

}
